<div class="col-md-8">
  <div class="card-group mb-0">
    <div class="card p-4">
      <div class="card-block">
        <h1 class="text-center">Point Hacks Delivery</h1>
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4">
            <a href="<%=sails.config.appUrl%>auth/login" class="btn btn-primary px-2 col-md-5 pull-left">Login</a>
            <a href="<%=sails.config.appUrl%>auth/register" class="btn btn-primary px-2 col-md-5 pull-right">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
