<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with</p>

        <a href="/login" class="btn btn-default"><i class="fa fa-user"></i> Local Login</a>
        <a href="/signup" class="btn btn-default"><i class="fa fa-user"></i> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><i class="fa fa-facebook"></i> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><i class="fa fa-twitter"></i> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><i class="fa fa-google-plus"></i> Google+</a>
    </div>

</div>
</body>
</html>
